<input id="txt_url" type="text" />
<input id="btn_enter" type="button" value="enter"/>
<div>
    <iframe id="frm" scrolling="auto" width="100%" height="1000"></iframe>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $("#btn_enter").on('click', function () {
        var url = $("#txt_url").val();
        $("#frm").attr("src", url);
    })
</script>