<div class="modal fade;" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <h4 style="color:#FFFFFF;position: relative;
            top: 50%;" class="text-center">
        loading...
    </h4>
</div>
<script>
    var loading = {
        show: function () {
            $('#loading').modal('show');
        },
        hide : function (){
            $('#loading').modal('hide');
        }
    }

    function isEmpty(obj){
        return (typeof obj === 'undefined' || obj === null || obj === "");
    }

</script>