@model IEnumerable<t_settlement>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.Code }, new { target = "_blank" })
        </td>
        <td>
            @ConvertHelper.AmplitudeConvert(item.Price, item.cPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}